.expand-circle{
    position: absolute;
    z-index: -1;
}

.col-lg-4.col-md-6.aos-init.aos-animate *:not(.expand-circle){
    z-index: 2;
}
.col-lg-4.col-md-6.aos-init.aos-animate{
    overflow: hidden;
}

.card.h-100.p-3.shadow-sm{
    overflow: hidden;
}

/* card transition mouse hover */

.card.h-100.p-3.shadow-sm .me-3 .expand-circle {
  transition: transform 0.75s ease-in-out;
  transform: translate(0, 0) scale(1);
}

.card.h-100.p-3.shadow-sm .me-3 .expand-circle:hover {
  transition: transform 0.5s ease-in-out;
  transform: translate(50px, 50px) scale(12);
}


/* card 1 */
.card.h-100.p-3.shadow-sm .bi.bi-search.mb-2 {
    margin-left: 40%;
}

/* card 2 */
.card.h-100.p-3.shadow-sm .bi.bi-layers.mb-2 {
    margin-left: 35%;
}

/* card 3 */
.card.h-100.p-3.shadow-sm .bi.bi-megaphone.mb-2 {
    margin-left: 35%;
}

/* card 4 */
.card.h-100.p-3.shadow-sm .bi.bi-graph-up.mb-2 {
    margin-left: 40%;
}

/* card 5 */
.card.h-100.p-3.shadow-sm .bi.bi-layers.mb-2 {
    margin-left: 40%;
}
/* card 6 */
.card.h-100.p-3.shadow-sm .bi.bi-layers.mb-2 {
    margin-left: 40%;
}
